@model Prodazba1.Models.Produkt

<tr>
    <td>
        @Html.DisplayFor(m => m.Id)
    </td>
    <td>
        @Html.DisplayFor(m => m.Naziv)
    </td>
    <td>
        @Html.DisplayFor(m => m.Kategorija)
    </td>
  
</tr>